<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<h2><%= @user.email %></h2>  

<p>
  <%= image_tag @user.image, alt: "#{@user.email}'s avatar", style: 'max-width: 200px' %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
